html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(203, 213, 228);
}

.container {
  background: white;
  height: 52rem;
  border-radius: 30px;
  padding: 3rem;
}

/* *********************************************** */
/* BANNER */
/* *********************************************** */
.banner {
  background-image: url("/images/banner3.jpg");
  height: 350px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner2-1 {
  width: 6.5rem;
  border-radius: 5px 20px 25px 8px;
  height: 6rem;
  margin-left: -50px;
  background: rgb(37, 23, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 999;
}

.banner2-1 img {
  width: 85px;
  height: 85px;
}
.banner2-1 p {
  margin-top: -20px;
  font-size: 0.7rem;
}

.banner2-2 {
  border-radius: 36px;
  border-radius: 0px 20px 25px 8px;
  width: 6.5rem;
  height: 6rem;
  height: 8rem;
  margin-left: -50px;
  background: rgb(152, 104, 180);
  margin-top: -55px;
  display: flex;
  justify-content: center;
  color: white;
}
.banner2-2 h3 {
  margin-top: 4.4rem;
}

.banner2-2 h4 {
  margin-top: 4.7rem;
  font-size: 0.8rem;
}

.ciudad {
  margin-left: 0px;
  margin-top: 70px;
  color: rgb(152, 104, 180);
}

.time-banner {
  height: 60px;
  width: 70px;
}

/* *********************************************** */
/* FORECAST */
/* *********************************************** */
.forecast1 {
  font-size: 1.5rem;
}

.forecast2 {
  font-size: 1rem;
  color: gray;
  margin-top: 0.1rem;
}

.imgRev {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: 3px;
  background: rgb(152, 104, 180);
  color: white;
  text-align: center;
}

.container2 {
  height: 280px;
}
.card-general {
  border-radius: 25px;
  height: 80px;
  padding: 0;
  border: 1px solid rgb(190, 190, 190);
  margin-bottom: 1.26rem;
}
.card3days-img {
  width: 30%;
  display: flex;
}
.card3days-img img {
  height: 70px;
  width: 70px;
  align-items: center;
  margin: 0 auto;
}
.card3days-pais {
  color: gray;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.card3days-pais h5 {
  font-size: 0.9rem;
  color: b;
  padding: 0;
  font-weight: bolder;
}
.card3days-pais h6 {
  font-size: 0.8rem;
  color: gray;
  padding: 0;
  font-weight: normal;
}
.card3days-temp {
  color: white;
  border-radius: 25px;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  background: purple;
}
.card3days-temp2 {
  color: white;
  background: rgb(203, 213, 228);
  border-radius: 25px;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}

.card3days-temp h4 {
  color: white;
  margin: 0 auto;
  font-size: 1.3rem;
  justify-items: center;
}

.card3days-temp2 h4 {
  color: black;
  margin: 0 auto;
  font-size: 1.3rem;
  justify-items: center;
}

/* *********************************************** */
/* PLACE TO VISIT */
/* *********************************************** */
.container3 {
  height: 280px;
  background-image: url(/images/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}

.container3 .icono {
  color: white;
}

.container3 .line1 {
  color: white;
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
}

.container3 .line2 {
  color: white;
  font-size: 1rem;
  margin-left: 2.3rem;
}

/* *********************************************** */
/* TOP REVIEWS */
/* *********************************************** */
.container3-1 .conta3-bg1 {
  background-image: url(/images/arte_ciencia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  border-radius: 25px;
}

.container3-1 .icono {
  color: white;
}

.container3-1 .line1 {
  color: white;
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
}

.container3-1 .line2 {
  color: white;
  font-size: 1rem;
  margin-left: 2.3rem;
}

.container3-1 .conta3-bg2 {
  margin-top: 1rem;
  background-image: url(/images/arte_ciencia2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 164px;
  border-radius: 25px;
  border-radius: 25px 40px 40px 25px;
}

.container3-1 .conta3-bg2 .divRight {
  margin-top: 0rem;
  padding: 0;
  height: 164px;
  border-radius: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(152, 104, 180);
  margin-right: -12px;
  font-size: 1.7rem;
}

/* *********************************************** */
/* CUARTA COLUMNA */
/* *********************************************** */
.flotante {
  /* position: relative; */
  margin-top: -150px;
  /* right: 130px; */
}

.container4 {
  /* width: 270px; */
  width: 100%;
  /* height: 280px; */
}

.card-general2 {
  border-radius: 25px;
  height: 120px;
  padding: 0;
  border: 1px solid rgb(235, 233, 233);
  margin-bottom: 1.26rem;
  box-shadow: 6px 6px 9px rgb(211, 207, 207);
}

.container4-1 {
  width: 90%;
  margin-left: 14px;
  margin-top: 0;
}

.row1Container4-1 {
  /* height: 75px; */
}

.row1Container4-1-img {
  background: rgb(152, 165, 185);
  border-radius: 25%;
  width: 75px;
  margin-left: -3px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container4taColRow1-img {
  height: 45px;
  width: 45px;
}

.celcius2 {
  color: rgb(177, 144, 177);
  margin-top: -4px;
  align-items: flex-start;
  border-right: black(121, 35, 71);
}

.col3-1 {
  font-weight: 300;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 15px;
}

.col3-2 {
  font-weight: 100;
  font-size: 0.8rem;
  font-weight: normal;
}

.row1Container4-2 {
  font-size: 0.7rem;
  color: rgb(190, 190, 190);
}

.card-general5 {
  border-radius: 25px;
  height: 150px;
  padding: 0;
  border: 2px dashed rgb(231, 228, 228);
}

.container5 h5 {
  color: rgb(102, 17, 158);
  margin-top: 1.1rem;
  border-radius: 15px;
  background: rgb(232, 217, 238);
  padding: 8px;
  font-size: 0.8rem;
  text-align: center;
}

.container5 img {
  width: 190px;
  height: 90px;
}

footer {
  height: 50px;
}


/* ********************************************* */
/* MEDIA QUERYS*/
/* ********************************************* */
@media (max-width: 540px) {
  body {
    background: white;
  }
  .banner2-1 {
    width: 4.5rem;
    border-radius: 5px 20px 25px 8px;
    height: 4.5rem;
  }
  .banner2-1 img {
    width: 55px;
    height: 55px;
  }
  .banner2-1 p {
    margin-top: -10px;
    font-size: 0.55rem;
  }
  .banner2-2 {
    width: 4.5rem;
    height: 8rem;
    margin-top: -65px;
  }
  .time-banner {
    margin-left: 50px;
  }

  .flotante {
    margin-top: 100px;
    right: 0px;
  }
  .row1Container4-1 h5{
    margin-top: 15px;
  }
}


@media (max-width: 720px) {
  body {
    background: white;
  }
  .banner2-1 {
    width: 4.5rem;
    border-radius: 5px 20px 25px 8px;
    height: 4.5rem;
  }
  .banner2-1 img {
    width: 55px;
    height: 55px;
  }
  .banner2-1 p {
    margin-top: -10px;
    font-size: 0.55rem;
  }
  .banner2-2 {
    width: 4.5rem;
    height: 8rem;
    margin-top: -65px;
  }

  .flotante {
    margin-top: 0px;
  }
  .row1Container4-1-img {
    width: 90px;
  }
  .row1Container4-1 h5{
    margin-top: 15px;
  }
  .row1Container4-2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 960px) {
  body {
    background: white;
  }
  .banner2-1 {
    width: 4.5rem;
    border-radius: 5px 20px 25px 8px;
    height: 4.5rem;
  }
  .banner2-1 img {
    width: 55px;
    height: 55px;
  }
  .banner2-1 p {
    margin-top: -10px;
    font-size: 0.55rem;
  }
  .banner2-2 {
    width: 4.5rem;
    height: 8rem;
    margin-top: -65px;
  }

  .flotante {
    margin-top: 0px;
    right: 0px;
  }
  .row1Container4-1-img {
    width: 90px;
  }
  .row1Container4-1 h5{
    margin-top: 15px;
  }
  .row1Container4-2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 1200px) {
  .container {
    background: white;
    height: 84rem;
    border-radius: 30px;
    padding: 3rem;
  }
  .banner2-1 {
    width: 4.5rem;
    border-radius: 5px 20px 25px 8px;
    height: 4.5rem;
  }
  .banner2-1 img {
    width: 55px;
    height: 55px;
  }
  .banner2-1 p {
    margin-top: -10px;
    font-size: 0.55rem;
  }
  .banner2-2 {
    width: 4.5rem;
    height: 8rem;
    margin-top: -65px;
  }

  .flotante {
    margin-top: 0px;
    right: 0px;
  }
  .row1Container4-1-img {
    width: 90px;
  }
  .row1Container4-1 h5{
    margin-top: 15px;
    font-size: 1.3rem;;
  }
  .row1Container4-1 h6{
    font-size: 1.2rem;;
  }
  .row1Container4-2 {
    font-size: 0.8rem;
    color: gray;
  }
}
